<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 strict="true"
		 verbose="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		>
<testsuite name='search-lucene'>
	<directory suffix='.php'>.</directory>
	<!--<file>apps.php</file>-->
</testsuite>
<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../../../search_lucene</directory>
			<exclude>
				<directory suffix=".php">../../../search_lucene/3rdparty</directory>
				<directory suffix=".php">../../../search_lucene/l10n</directory>
				<directory suffix=".php">../../../search_lucene/tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<!-- and this is where your report will be written -->
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>

